/* General */ 
*{margin:0; padding:0;}
body, html, head {height:100%; width:100%; font-family:Verdana; font-size:11px; color:#999; overflow: hidden;}
body {background:#fff repeat-x top center;}
a img, img {border:0;}
a {outline:none; color:#0051a9; cursor: pointer;}
a:hover {text-decoration:underline;}
table{margin:0px; border-spacing:0; border-collapse:collapse;}
table tr td{padding:0px;}
input{border: 1px solid #ddd;}

.row{
    float: left;
    width: 100%;
}
.col{
    float: left;
    height: 400px; 
    border: 1px solid #999;
}
#left_tools{
    width: 300px;
    position: relative;
    background-color: #FFF;
    z-index: 10000;
}
#center{
    overflow: hidden;
    width: 600px;
    height: 400px;
    z-index: 10000;
    border: 0px;
}
#right_tools{
    width: 300px;
    float: right;
    position: relative;
    background-color: #FFF;
    z-index: 10000;
}

.pattern{
    overflow:hidden;
}

.lefticon{
    border: 1px solid; 
    cursor: pointer;
    background: #000;
    color: #FFF;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
}
#accordion{
    
}
.drop-hover{
    /*border: 1px solid #000;*/
}
.selected{
    border: 1px solid #FF0000;
}
#workarea{
    width: 400px;
    height: 300px;
    border: 1px solid #999;
    overflow: hidden;
    position: absolute;
}
#background{
    background: #fff;
    position: absolute;
}



/*
.drow_options{ float:right; display: none;}
#feedback { font-size: 1.4em; }
*/
/*
#selectable_draw .ui-selecting { background: #FECA40; }
#selectable_draw .ui-selected { background: #F39814;  }
#selectable_draw { list-style-type: none; margin: 0; padding: 0; width: 100%;}
#selecteble_draw li { margin: 3px; padding: 0.4em; font-size: 1.4em;  width: 50px; height: 50px; }
*/
.ui-selecting {
    /*background: #ff0000 !important;*/
    filter:alpha(opacity=30);
    opacity: 0.3;
    background: #ff0000;
}
.ui-selected {
    background: #ff0000;
    
}
#layerbackground{
    background: #f6f6f6;
    position: absolute;
}
#background > canvas{
    background: none;
    position: absolute; 
    margin: 0;
    padding: 0;   
}
#tollsbg{
    background: #f6f6f6;
    position: absolute;    
}

#curves > div {
    cursor: pointer;
}

.chLayer{
    
}

.chLayerSelected{
    color:#0000FF;
}

.road_ico{
    background-color: #000000;
    border: 3px dashed #FFFFFF;
    height: 0;
    margin: 3px;
    min-width: 100px;
    position: static;
    width: 98%;
}
.rotate_ico{
    background: yellow;
    border: 1px solid; 
    width: 7px;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
}
.resize_ico{
    background: url('../icons/resize.png');
    border: 1px solid; 
    width: 12px;
    height: 12px;
    z-index: 1;
    float: right;
}


.road{
    z-index: 2;
}

.polygon{
    width: 1px;
    height: 1px;
    background-color : #008080;
    position: absolute;
}

.line{
    width: 1px;
    height: 1px;
    background-color : #000000;
    position: absolute;
}